@{
    ViewData["Title"] = "Teleavance - Inicio";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/index.css">
    <title>@ViewData["Title"]</title>


</head>
<body>
    <header>
        <h1>Bienvenida a Teleavance</h1>
        <p>Call center especializado en ventas de servicios </p>
    </header>
    <div class="container">
        <div class="image-container">
            <div class="image">
                <div class="image">
                    <img src="imagenes/teleavance.png" alt="Teleavance">
                </div>
            </div>
        </div>
    </div>
</body>
</html>